.container {
  width: min(
    calc(100% - (var(--space-5) * 2)),
    var(--container-width, var(--content-width))
  );
  margin-inline: auto;
}

.reading {
  --container-width: var(--reading-width);
}

.stack {
  display: flex;
  flex-direction: column;
}

.cluster {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.gapSm {
  gap: var(--space-2);
}

.gapMd {
  gap: var(--space-4);
}

.gapLg {
  gap: var(--space-6);
}

.gapXl {
  gap: var(--space-10);
}

@media (min-width: 48rem) {
  .container {
    width: min(
      calc(100% - (var(--space-8) * 2)),
      var(--container-width, var(--content-width))
    );
  }
}
